*{
    font-family: 'poppins';
}

.something{
    background-image: url("back.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-attachment: fixed;
    position: fixed;
    height: 1000px;
    top: -10px;
}

.name{
    color: rgb(255, 255, 255);
    
}
.upload-form{
    padding: 7%;
    border-radius: 50px;
    box-shadow: 5px 10px #888888;
    margin: 50px;
}

.select-file{
    width: 100%;
    padding: 10% 0;
}

.upload-text{
    text-decoration-thickness: 0px;
}

.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}
  
.button {
    font-size: 1em;
    padding: 10px;
    color: white;
    border: 2px solid white;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.button:hover {
    background: #1e1e1eb0;
    color: rgb(203, 255, 220);
    text-decoration: none;
    /* color: inherit; */
}
  
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
  
.popup {
    margin: 70px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0);
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}
  
.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #1e1e1eb0;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}

.table{
    background-color: rgba(245, 245, 245, 0.70);
    font-size: small;
    color: black;
}


*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    background-image: url("back.jpg");
    /* background-position: center;  */
    /* background-repeat: repeat;  */
    background-size: cover; /* Resize the background image to cover the entire container */
    /* background-attachment: fixed; */
    margin-top: -60px;
}
.my-form{
    height: 40%;
    width: 30%;
    background-color: rgba(255,255,255,0.13);
    /* position: absolute; */
    transform: translate(-50%,-50%);
    /* top: 50%;
    left: 50%; */
    margin-left: 49%;
    margin-top: 21%;

    
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
.my-form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.my-form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
.btnn{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.social{
  margin-top: 30px;
  display: flex;
}
.social div{
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
}
.social div:hover{
  background-color: rgba(255,255,255,0.47);
}
.social .fb{
  margin-left: 25px;
}
.social i{
  margin-right: 4px;
}

.title{
    text-align: center;
    margin-bottom: 20px;
}